.custome_link {
    background: linear-gradient(
            0deg,
            hsla(var(--secondary)),
            hsla(var(--secondary))
        )
        no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}
.custome_link:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.custome_link {
    padding-bottom: 2px;
    --bg-h: 2px;
}

.custome_link {
    text-decoration: none;
    line-height: 1;
}
